@charset "utf-8";
/* ********** */
/* MacZac.com */
/* ********** */
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');

html {
	background-color: #FFFFFF;
	padding: 0;
	margin: 0;
}
body {
	width: 100%;
	padding: 0;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
}
header, section, footer, aside, nav, article, figure {
	display: block;
}
ul, ol, dl {
	padding: 0;
	margin: 0;
}
em {
	color: #666;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	clear: both;
	font-family: 'Lato', sans-serif;
}
img {
	vertical-align: middle;
	height: auto;
	max-width: 100%;
}
a img {
	border: none;
}
article {
	margin: 0;
	padding: 0;
}
#page {
	position: relative;
	width:100%;
	background: #FFFFFF;
}
.full-width {
	width:100%;
	margin: 0 auto;
	display: block;
}
.full-width:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
.container-xs, .container-s, .container-m, .container-l {
	margin: 0 auto;
}
.container-l {
	max-width: 1600px;
}
.container-m {
	max-width: 1200px;
}
.container-s {
	max-width: 980px;
}
.container-xs {
	max-width: 640px;
}
/* Header */
.hdr-row-wrap {
	padding-bottom: 15px;
	background: #304f27;
	position: relative;
}
.hdr-row {
	padding: 0;
	box-sizing: border-box;
	position: relative;
	background-image: url("../images/bnr-img-hdr.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	min-height: 700px;
}
.hdr-nav {
	padding: 4px 20px;
	box-sizing: border-box;
	background-color: #121d13;
	position: relative;
	z-index: 998;
}
.hdr-overlay {
	text-align: center;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.85);
	width: 100%;
}
.hdr-center {
	margin: auto;
}
.line-break {
	height: 2px;
	background-color: #608f42;
	width: 100%;
}
.tel-desk {
	text-align: center;
}
.tel-desk h3 {
	color: #FFFFFF;
	font-size: 26px;
	font-weight: 700;
	letter-spacing: 2px;
}
/* TOP NAV */
/* Mobile Menu */
.mobi-menu {
	position: relative;
	text-align: right;
	top: 4px;
	right: 0;
}
.mobi-menu a.btn-toggle {
	color: #FFFFFF;
	padding: 5px;
}
.uk-offcanvas-bar {
	background-color: #121d13;
}
.uk-offcanvas-bar ul li a {
	color: #000000;
}
#mobi-menu ul.menu li a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 18px;
	display: block;
	text-transform: capitalize;
	font-weight: 400;
    letter-spacing: 1px;
}
.menu-drop {
	padding: 10px;
	margin: 0;
	background-color: #304f27;
}
.menu-drop ul li a {
	color: #FFFFFF;
}
/* Desktop Menu */
.desktop-menu {
	padding-top: 0 !important;
	position: relative;
	z-index: 999;
}
.desktop-menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: right;
}
.desktop-menu ul li {
	float: none;
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 18px;
	display: inline-block;
	color: #FFFFFF;
}
.desktop-menu ul li:hover a {
	background: #608f42;
	color: #FFFFFF;
}
.desktop-menu ul li a {
	letter-spacing: 1px;
	border-bottom: none;
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	display: inline-block;
	color: #FFFFFF;
	text-transform: uppercase;
	padding: 10px 12px;
	margin: 0;
}
.desktop-menu ul li a:hover {
	color: #FFFFFF;
	background: #608f42;
}
/* Drop-down menu */
.desktop-menu ul.menu li ul {
	padding: 0;
	position: absolute;
	top: 46px;
	text-align: left;
	min-width: 230px;
	display: none;
	opacity: 0;
	visibility: hidden;
	/* Shadow */
	-webkit-box-shadow: 0 8px 6px -6px #000000;
	-moz-box-shadow: 0 8px 6px -6px #000000;
	box-shadow: 0 8px 6px -6px #000000;
}
.desktop-menu ul.menu li ul li {
	display: block;
	margin-right: 0px;
	padding: 0;
	position: relative;
	background: #608f42;
	color: #FFF !important;
}
.desktop-menu ul.menu li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
	color: #FFF !important;
}
.desktop-menu ul.menu li ul li a {
	font-size: 17px;
	letter-spacing: 0px;
	display: block;
	min-width: 230px;
	padding-top: 7px;
	padding-bottom: 7px;
	background: #608f42;
	text-transform: capitalize;
	border-bottom: 1px solid rgba(255,255,255,0.35);
}
.desktop-menu ul.menu li ul li a:hover, .desktop-menu ul.menu li ul li a.active {
	background: #FFFFFF;
	color: #0C0E0A;
}
/* Headers */
.h1-color, .h1-dark, .h1-light {
	font-size: 2em;
}
.h1-light {
	color: #FFFFFF;
	font-size: 3em;
	line-height: normal;
	letter-spacing: 1px;
	font-weight: 700;
	text-align: center;
}
.h2-hdr {
	color: #121d13;
	font-size: 2em;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 0;
	padding: 0 0 15px;
	font-family: 'Coda Caption', sans-serif;
}
.h2-dark {
	color: #304f27;
	font-size: 2.6em;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}
.h2-light {
	color: #FFFFFF;
	font-size: 3em;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}
.h3-hdr {
	font-size: 1.2em;
	letter-spacing: 2px;
	line-height: normal;
	font-weight: bold;
	padding: 15px 0 0;
}
/* CTA TOP */
.cta-top-wrap {
	background-color: #a1d883;
}
.cta-row {
	padding: 80px 25px;
	box-sizing: border-box;
	min-height: 100px;
}
.cta-left {
	margin: auto;
	height: 100%;
}
.serv-img {
	border: 8px solid #FFFFFF;
	border-radius: 50%;
}
.serv-card {
	padding: 50px 0 20px;
	text-align: center;
}
.serv-card h3 {
	color: #121d13;
	font-size: 1.6em;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 2px;
	text-align: center;
}
.serv-card a {
	color: #121d13;
	text-decoration: none;
}
.serv-card a:hover {
	text-decoration: none;
}
/* Main Content sections */
.body-row-wrap {
	background-color: #e0e2e0;
}
.body-row {
	padding: 0;
	box-sizing: border-box;
}
.body-left {
	padding: 0;
	margin: auto;
	box-sizing: border-box;
}
.body-right {
	margin: auto;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}
.body-right h2 {
	color: #304f27;
	font-size: 2.6em;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 30px;
}
.body-right h2::after {
	content: '';
	background-color: #304f27;
	width: 100%;
	height: 2px;
	display: block;
}
.body-right p {
	font-size: 24px;
	line-height: 36px;
	text-align: left;
	padding: 0 0 12px;
	color: #333333;
}
.body-right span {
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	color: #304f27;
	padding: 3px 2px;
}
.body-right span.vdo {
	border-top: 1px solid #304f27;
	border-bottom: 1px solid #304f27;
}
.body-right a {
	color: #304f27;
	text-decoration: none;
}
.body-content {
	padding: 30px 20px;
	box-sizing: border-box;
	text-align: left;
	max-width: 960px;
}
.page-content {
	padding: 0;
	box-sizing: border-box;
	height: 100%;
	margin: auto;
}
.page-content a {
	color: #FFFFFF;
	text-decoration: underline;
}
.page-content a:hover {
	color: #a1d883;
	text-decoration: none;
}
.page-content ul {
	margin: 0;
	padding: 0 0 14px 25px;
}
.page-content ul li {
	margin: 0 0 4px;
	padding: 0;
	font-size: 20px;
	line-height: 34px;
	text-align: left;
	color: #0C0E0A;
}
.page-content ul li a {
	color: #0C0E0A;
	text-decoration: underline;
}
/* CONTENT - ROW ONE */
.btm-one-wrap {
	background-color: #a1d883;
	position: relative;
	padding: 60px 20px;
	box-sizing: border-box;
}
.btm-one {
	padding: 0;
	box-sizing: border-box;
	color: #0C0E0A;
}
.btm-one p {
	font-size: 22px;
	line-height: 36px;
	text-align: left;
	color: #FFFFFF;
}
/* REVIEW */
.review {
	margin: 40px 0 0;
}
.review h3 {
	text-align: center;
	color: #304f27;
	font-size: 26px;
	line-height: 32px;
	letter-spacing: 1px;
	font-weight: 700;
}
.review p {
	text-align: center;
	color: #0C0E0A;
	font-size: 22px;
	line-height: 34px;
	padding: 0 0 12px;
	margin: 0;
}
.review .rev-footer {
	padding: 10px 20px;
	box-sizing: border-box;
	border-top: 3px solid #304f27;
}
.rev-star span {
	color: #304f27;
}
/* CONTENT - ROW TWO */
.btm-two-wrap {
	background-color: #e0e2e0;
	min-height: 100px;
}
.btm-two {
	padding: 0;
	box-sizing: border-box;
	color: #3F3F3F;
}
.btm-two h2 {
	color: #304f27;
	font-size: 2.6em;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 30px;
}
.btm-two h2::after {
	content: '';
	background-color: #304f27;
	width: 100%;
	height: 2px;
	display: block;
}
.btm-two-left {
	margin: auto;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}
.btm-two-right {
	padding: 0;
	margin: auto;
	box-sizing: border-box;
}
.btm-two-content {
	max-width: 1000px;
}
.btm-two p {
	font-size: 20px;
	line-height: 34px;
	text-align: left;
}
.btm-two a {
	color: #0C0E0A;
	text-decoration: none;
}
.btm-two a:hover {
	color: #0C0E0A;
	text-decoration: none;
}
/* FAQ */
.faq-wrap ul li {
	background-color: #a1d883;
	padding: 15px;
	box-sizing: border-box;
}
.faq-title {
	font-size: 24px;
	line-height: normal;
	letter-spacing: 1px;
	font-weight: 700;
	text-align: left;
}
.faq-content {
	background-color: #FFFFFF;
	padding: 20px 15px;
	box-sizing: border-box;
	border: 1px solid #e0e2e0;
}
.faq-content p {
	font-size: 22px;
	line-height: 34px;
	text-align: left;
}
.faq-content a {
	color: #121d13;
	text-decoration: none;
}
.faq-content a:hover {
	color: #121d13;
	text-decoration: none;
}
/* CONTENT - ROW THREE */
.btm-three-wrap {
	background-color: #a1d883;
	position: relative;
	padding: 60px 0;
	box-sizing: border-box;
}
.btm-three {
	padding: 0;
	box-sizing: border-box;
	color: #0C0E0A;
}
.btm-three h3 {
	font-size: 26px;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: normal;
}
.btm-three p {
	font-size: 22px;
	line-height: 34px;
	text-align: center;
	color: #121d13;
	margin: 0;
	padding: 0 0 14px;
}
.btt-left {
	margin: auto;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
}
.btt-left a {
	color: #121d13;
	text-decoration: none;
}
.btt-left a:hover {
	color: #304f27;
	text-decoration: none;
}
/* FOOTER */
.footer-outer {
	background-color: #121d13;
}
.footer-wrap {
	padding: 40px 20px;
	box-sizing: border-box;
	color: #FFFFFF;
}
.footer-wrap h2 {
	font-size: 26px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 20px;
	color: #FFFFFF;
}
.footer-wrap p {
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 30px;
	text-align: center;
	margin: 0 0 14px;
}
.footer-wrap a {
	color: #FFFFFF;
	text-decoration: none;
}
.footer-wrap a:hover {
	color: #FFFFFF;
}
/* FOOTER NAV */
.footer-nav {
	padding: 0;
	position: relative;
	box-sizing: border-box;
	background-color: #304f27;
}
.footer-nav ul {
	text-align: center;
	padding: 0;
}
.footer-nav ul li {
	display: block;
	float: none;
	margin-bottom: 3px;
	padding: 0;
	text-transform: uppercase;
	border-bottom: 1px solid #a1d883;
}
.footer-nav ul li a {
	font-size: 18px;font-weight: 700;
	letter-spacing: 1px;
	line-height: normal;
	color: #FFFFFF;
	padding: 14px 10px;
	text-decoration: none;
	display: block;
	background: rgba(0,0,0,0.00);
	text-align: center;
}
.footer-nav ul li a:hover {
	color: #304f27;
}
/* Social Media */
ul.social {
	padding: 0;
	margin: 0;
	text-align: center;
}
ul.social-ftr {
	padding: 10px 0;
	margin: 0;
	text-align: center;
	background-color: rgba(0,0,0,0.00);
}
ul.social li, ul.social-ftr li {
	padding: 0;
	margin: 0 3px 2px;
	display: inline-block;
	list-style: none;
}
ul.social li a, ul.social-ftr li a {
	padding: 8px;
	text-decoration: none !important;
	display: block;
	border-radius: 0;
}
ul.social li a {
	color: #FFFFFF;
	background-color: #304f27;
}
ul.social-ftr li a {
	color: #FFFFFF; 
}
ul.social li a:hover, ul.social-ftr li a:hover {
	color: #304f27;
}
/* Quick Contact */
.qc-card {
	padding: 20px;
	box-sizing: border-box;
}
textarea {
	resize: none;
}
.element-invisible {
	display: none;
}
.quick-submit {
	font-size: 20px;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #304f27;
	padding: 8px 50px;
	box-sizing: border-box;
	border-radius: 0;
}
/* Misc */
.style-border {
	border: 1px solid #FFFFFF;
	padding: 25px;
	box-sizing: border-box;
	margin: 25px 0;
	min-height: 100px;
}
.img-circ {
	border-radius: 50%;
	border: 5px solid #304f27;
}
.bdg-style {
	font-size: 18px;
}
.btn-wrap {
	display: block;
	padding: 20px 0;
	margin: 0;
	margin: 0 auto;
}
.btn-transparent {
	font-size: 18px;
	line-height: normal;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none !important;
	color: #FFFFFF !important;
	padding: 10px 16px;
	box-sizing: border-box;
	border: 1px solid #FFFFFF;
	display: inline-block;
	border-radius: 0;
	background-color: rgba(140,56,56,0.00);
}
.btn-transparent:hover {
	text-decoration: none;
	color: #304f27 !important;
}
.btn-green {
	font-size: 18px;
	line-height: normal;
	font-weight: 400;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none !important;
	color: #FFFFFF !important;
	padding: 10px 18px;
	margin: auto;
	box-sizing: border-box;
	border: 1px solid #FFFFFF;
	display: inline-block;
	border-radius: 0;
	background-color: #304f27;
}
.btn-green:hover {
	text-decoration: none;
	color: #FFFFFF !important;
	background-color: #121d13;
}
.bg-transition {
	/* Bg Transition */
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}
.bg-shadow {
	/* Shadow */
	-webkit-box-shadow: 0 8px 6px -6px #999999;
		 -moz-box-shadow: 0 8px 6px -6px #999999;
			  box-shadow: 0 8px 6px -6px #999999;
}
/* Effects */
.tag-wrap-l {
  	filter: drop-shadow(9px 3px 6px rgba(0, 0, 0, 0.50));
}
.tag-wrap-r {
  	filter: drop-shadow(-9px 3px 6px rgba(0, 0, 0, 0.50));
}
/* Underline From Center */
.hvr-line-dark-center, .hvr-line-light-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-line-dark-center:before {
	 background: #0C0E0A;
}
.hvr-line-light-center:before {
	 background: #FFFFFF;
}
.hvr-line-dark-center:before, .hvr-line-light-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-line-dark-center:hover:before, .hvr-line-dark-center:focus:before, .hvr-line-dark-center:active:before , .hvr-line-light-center:hover:before, .hvr-line-light-center:focus:before, .hvr-line-light-center:active:before {
  	left: 0;
  	right: 0;
}
/* Sweep To Top */
.hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  	color: #000000;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  	transform: scaleY(1);
}
#go-top {
	display: none;
	position: fixed;
	bottom: 10px;
	right: 20px;
	z-index: 1100;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #304f27;
	color: #FFFFFF;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	text-decoration: none;
}
#go-top:hover {
	background-color: #304f27;
	text-decoration: none;
}
/* Media query for Mobile devices*/
@media (min-width: 480px) {

}
/* Media Query for Tablets */
@media (min-width: 768px) {
	.footer-nav ul li {
		display: inline-block;
		margin-bottom: 0;
		padding: 0 5px;
		border-bottom: none;
	}
}
/* laptops  */
@media (min-width: 960px) {
	.hdr-row-wrap {
		padding-bottom: 40px;
	}
	.hdr-row {
		background-size: contain;
		min-height: 600px;
	}
	.hdr-overlay {
		width: 740px;
	}
	.body-right {
		text-align: left;
	}
	.body-content {
		max-width: 640px;
	}
	.btm-two-left {
		padding: 20px 20px 20px 120px;
	}
	.img-clip-r {
		clip-path: circle(88.3% at 7% 50%);
	}
	.img-clip-l {
		clip-path: circle(86.5% at 93% 50%);
	}
}
/* Desktops and laptops  */
@media (min-width: 1220px) {

}
